<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.socialwalk"
    android:versionCode="6"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.socialwalk.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/APP_NAME"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.socialwalk.MainActivity"
            android:label="@string/APP_NAME"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.socialwalk.SlideActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/TITLE_SLIDE"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WebPageActivity"
            android:label="@string/TITLE_WEB_PAGE"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunitySelectionActivity"
            android:label="@string/TITLE_GROUP_SELECTION"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CreateCommunityActivity"
            android:label="@string/TITLE_CREATE_GROUP"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityJoinActivity"
            android:label="@string/TITLE_GROUP_DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.IntroActivity"
            android:label="@string/TITLE_INTRO"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.LoginActivity"
            android:label="@string/TITLE_LOGIN"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WalkingActivity"
            android:label="@string/TITLE_WALK"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WalkResultActivity"
            android:label="@string/TITLE_WALK_RESULT"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WalkDetailActivity"
            android:label="@string/TITLE_WALK_DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WalkRouteActivity"
            android:label="@string/TITLE_WALK_ROUTE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.WalkHistoryActivity"
            android:label="@string/TITLE_WALK_HISTORY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.RankingActivity"
            android:label="@string/TITLE_RANKING"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.SettingsActivity"
            android:label="@string/TITLE_SETTINGS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.BeneficiariesActivity"
            android:label="@string/TITLE_SPONSOR"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityActivity"
            android:label="@string/TITLE_COMMUNITY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityPostingActivity"
            android:label="@string/TITLE_COMMUNITY_POSTING"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityPostDetailActivity"
            android:label="@string/TITLE_COMMUNITY_POST_DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.ReplyPostingActivity"
            android:label="@string/TITLE_REPLY_POSTING"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.MoreActivity"
            android:label="@string/TITLE_MORE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.ProfileActivity"
            android:label="@string/TITLE_PROFILE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.BeneficiariesListActivity"
            android:label="@string/TITLE_GLOBAL_BENEFICIARIES"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.BeneficiaryDetailActivity"
            android:label="@string/TITLE_BENEFICIARY_DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityDetailActivity"
            android:label="@string/TITLE_COMMUNITY_DETAIL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityManageActivity"
            android:label="@string/TITLE_COMMUNITY_MANAGE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="com.socialwalk.CommunityOwnerActivity"
            android:label="@string/TITLE_COMMUNITY_OWNER"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        
        <service android:name="com.socialwalk.LockService" >
        </service>
        <service android:name="com.socialwalk.WalkService" >
        </service>

        <receiver
            android:name="com.socialwalk.LockReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.socialwalk.WalkLocationReceiver" >
        </receiver>

    </application>

</manifest>
